.container{
background:linear-gradient(to right,    rgb(255, 153, 0),rgb(12, 12, 144));
    height: 100vh;
    align-items: center;
    align-content: center;
    
}
*{
    margin: 0;
    padding: 0;
}
.quiz{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 65vh;
    width: 40vw;
    border: 1.5px solid white;
    border-radius: 30px;
}
.question{
    font-size:x-large;
    font-family: sans-serif;
    color: white;
    padding: 20px;
    top: 0;
    margin-top: 10px;
}
.options{
font-size: larger;
    font-family: sans-serif;
    color: white;
    padding: 20px;
    top: 0;
    margin: 10px;
    width: 25vw;
    height: 3vh;
    border: 1px solid white;
    border-radius: 5px;
    
}
.options:hover{
    transform: scale(1.3);
    background:linear-gradient(to right,    rgb(255, 153, 0),rgb(12, 12, 144));
    box-shadow: 2px 2px 1px 0.5px white;
    
}
.quiz:hover{
    background-color: (0,0,0,0.34);
    background-image: url(https://c4.wallpaperflare.com/wallpaper/110/713/191/dragon-ball-dragon-ball-z-son-goku-kid-goku-wallpaper-preview.jpg);
    background-position: center;
}
.logo{
    display: flex;
    top: 0;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin-right: 30VW;
    font-size: xx-large;
}
img{
    height: 15vh;
    width: auto;
    border-radius: 100%;

}