.container{
background:linear-gradient(to right,    rgb(255, 153, 0),rgb(12, 12, 144));
    height: 100vh;
    align-items: center;
    align-content: center;
    
}
*{
    margin: 0;
    padding: 0;
}
.quiz{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 65vh;
    width: 40vw;
    border: 1.5px solid white;
    border-radius: 30px;
}
.question{
    font-size:x-large;
    font-family: sans-serif;
    color: white;
    padding: 20px;
    top: 0;
    margin-top: 10px;
}
.options{
font-size: larger;
    font-family: sans-serif;
    color: white;
    padding: 20px;
    margin-bottom: 25px;
    width: 25vw;
    height: 3vh;
    border: 1px solid white;
    border-radius: 5px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
     
}
.options:hover{
    transform: scale(1.3);
    background:linear-gradient(to right,    rgb(255, 153, 0),rgb(12, 12, 144));
    box-shadow: 2px 2px 1px 0.5px white;
    cursor: pointer;
    
}
.quiz:hover{
    background-color: rgba(0,0,0,0.34);
    background-image: url(goku.jpg);
    background-position: center;
    animation: goku 3s ease-in-out infinite;
}
.logo{
    display: flex;
    top: 0;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin-right: 30VW;
    font-size: xx-large;
    font-family:Saiyan-Sans;
}
img{
    height: 15vh;
    width: auto;
    border-radius: 100%;
    
}


@keyframes goku {
    0% {
        background-position: center;
    }
    33% {
        background-position: top left;
    }
    66%{
        background-position: top right;
    }
    100% {
        background-position: centre;
    }
}

.next{
    margin: auto;
    justify-self: center;
    transform: translate(48
    
    vw,5vh);
    border-radius: 30px;
    padding:15px;
    font-family: sans-serif;
    background:linear-gradient(to right,rgb(12, 12, 144),  rgb(255, 153, 0)) ;
    border: 0.5px solid white;
    cursor: pointer;
}